@import "tailwindcss";



/* Customize scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f; /* dark background */
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* gray thumb */
  border-radius: 8px;
  border: 2px solid #1f1f1f;
}

/* Optional: on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #52525b;
}

/* #60A5FA */